@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Serif', serif;
}
header{
    background: black;
}
.header{
    display: flex;
}
.header-logo{
    color: white;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
.header-logo a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.header-logo a:hover{
    color: #fcac45;
}
nav{
    margin-top: 56px;
    margin-left: 29%;
}
.nav a{
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
.nav a:hover{
    border-bottom: 3px solid #fcac45;
    color: #fcac45;
}
.main-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 200px 0 410px 0;
    background-image: url("../img/Старинные\ монеты.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.section-main{
    background-color: black;
}
.main h1{
    color: white;
    font-size: 44px;
}
.main-span{
    color: #fcac45;
}
h3{
    text-align: center;
    margin: 20px 0 20px 0;
}
.main p{
    color: white;
    font-size: 70px;
}
.welcome{
    display: flex;
    justify-content: space-around;
}
.welcome p{
    margin-top: 10px;
}
.welcome img{
    max-width: 50px;
    margin-top: 20px;
}
.welcome-img{
    text-align: center;
}
.welcome-p{
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    font-size: 20px;
}
.timeworkbtn{
    background: #fcac45;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.timeworkbtn:hover{
    color: white;
    background-color: black;
}
.p-visible{
    display: block;
}
.timework-p{
    display: none;
}
.span-b{
    font-weight: 800;
}
.work{
    text-align: center;
}
.section-img{
    display: flex;
}
footer{
    max-height: 75px;
    background-color: black;
    padding: 30px 0 30px 0;
}
.social{
    display: flex;
    justify-content: center;
}
.social img{
    margin-left: 12px;
    max-width: 40px;
}
.social img:hover{
    opacity: 0.8;
}